- page_title!('Editando message')

#region-messages.container

  .region
    .region-title
      %h1
        Editando
        %b
          message

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @message, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
