= link_to 'http://bit.ly/dj-paul-descarga-mix-verano-2104', class: 'btn btn-default btn-danger btn-lg', download: 'dj_paul_-_descarga_mix_verano_2014.mp3' do
  .span.glyphicon.glyphicon-circle-arrow-down
  Descarga el mix aquí
