%ul.nav
  %li= link_to 'FACEBOOK', 'https://www.facebook.com/djpaulsutcliffe'
  %li= link_to 'TWITTER', 'http://www.twitter.com/paulyoyo'
  %li= link_to 'SOUNDCLOUD', 'https://soundcloud.com/djpaulsutcliffe'
