%ul.nav.nav-pills.pull-right
  %li= link_to 'FACEBOOK', 'https://www.facebook.com/djpaulperu'
  %li= link_to 'TWITTER', 'http://www.twitter.com/paulyoyo'
  %li= link_to 'SOUNDCLOUD', 'https://soundcloud.com/djpaulpe'
%h3.muted-text Dale "Me Gusta" y Descarga Mixes Gratis
